global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log global
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_in
    bind *:80
{% if lb_tls_cert_path %}
    http-request redirect scheme https code 301 unless { path_beg /.well-known/acme-challenge/ }
{% endif %}
    http-request set-header X-Forwarded-Proto http
    http-request set-header X-Forwarded-For %[src]
    default_backend control_plane

{% if lb_tls_cert_path %}
frontend https_in
    bind *:443 ssl crt {{ lb_tls_cert_path }}
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-For %[src]
    default_backend control_plane
{% endif %}

backend control_plane
    balance roundrobin
    option httpchk GET /health
    http-request set-header X-Forwarded-Host %[req.hdr(host)]
    server control_plane {{ control_plane_host }}:{{ control_plane_port }} check
